@import url('https://fonts.googleapis.com/css?family=Readex+Pro&display=swap');
html,body{
    font-family: 'Readex Pro', sans-serif;
}

h1, h2 {
    color: #7C5323;
}

.navbar-brand {
    margin-left: 20px;
}

Button, .btn-primary {
    border-color: #4E7701 !important;
    background-color: #4E7701 !important;
    margin: 20px;
}

Button:hover {
    border-color: #3a5800 !important;
    background-color: #3a5800 !important;
}

.trash {
    width: 3%;
    text-align: center;
}

.logo {
    margin: 20px;
}